.templateDiv{
     border: 2px solid rgb(4, 57, 128);
     border-radius: 5px;
     margin: 20px 30px;
     padding: 10px;
     /* color: rgb(226, 226, 226); */
}

.inputForTemplate{
     padding: 2px 10px
}

.inputForTemplate::placeholder {
     /* color: red; */
     font-size: 14px;
}

.addPromptButton{

     margin-right: 20px;
     margin-top: 20px;
     margin-left: auto;
     display: flex;
     align-items: center;
     border: none;
     padding: 6px 10px;
     border-radius: 5px;
     background-color: rgb(4, 96, 150);
     transition: 0.1s transform linear;
}

.addPromptButton:hover{
     transform: scale(0.97);
}